.et-l--header {
  z-index: 999;
  position: relative;
}

.et_pb_section_0_tb_header,
.et_pb_row_0_tb_header {
  position: relative;
}

.primary-menu {
  .et_pb_menu__menu {
    > nav > ul > li {
      margin-top: 0 !important;
      padding: 0 5px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      > a {
        padding: 10px;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
        opacity: 1;
        transition: background 0.4s ease;

        &:hover {
          background: #f3f7fc;
          border-radius: 8px;
          opacity: 1;
        }
      }
    }
  }
}